includes:
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    excludes_analyse:
        - %rootDir%/../../../packages/*/build/**
        - %rootDir%/../../../packages/*/docs/**
        - %rootDir%/../../../packages/*/tests/***